<!-- <nav>
  <a class="section-link">
    <mat-icon>forum</mat-icon>
    <div>
      Chats
    </div>
  </a>
  <a class="section-link">
    <mat-icon>person</mat-icon>
    <div>
      Contacts
    </div>
  </a>
  <a class="section-link">
    <mat-icon>settings</mat-icon>
    <div>
      Settings
    </div>
  </a>
</nav> -->


<mat-nav-list>
  <a class="nav-item" mat-list-item [routerLink]="['/chats']" [activated]="isActive('chats')">
    <mat-icon>forum</mat-icon>
  </a>
  <mat-list-item mat-list-item [matMenuTriggerFor]="addMenu">
    <mat-icon>add</mat-icon>
  </mat-list-item>

  <mat-menu #addMenu="matMenu" xPosition="before" yPosition="below">
    <button mat-menu-item (click)="onAddPeople()">
      <mat-icon>person</mat-icon>
      Add people
    </button>
    <button (click)="onAddGroup()" mat-menu-item>
      <mat-icon>group</mat-icon>
      Add group
    </button>
    <button mat-menu-item (click)="onAddChannel()">
      <mat-icon>campaign</mat-icon>
      Add channel
    </button>
  </mat-menu>

  <a mat-list-item [routerLink]="['/search']" [activated]="isActive('search')">
    <mat-icon matSuffix>search</mat-icon>
  </a>

  <a mat-list-item [routerLink]="['/contacts']" [activated]="isActive('contacts')">
    <mat-icon>group</mat-icon>
  </a>
</mat-nav-list>
<mat-nav-list>
  <mat-list-item (click)="switchTheme()">
    <mat-icon>{{ theme === 'dark' ? 'light_mode':'dark_mode' }}</mat-icon>
  </mat-list-item>
  <a mat-list-item [routerLink]="['/profile']" [activated]="isActive('profile')">
    <mat-icon>person</mat-icon>
  </a>
  <a mat-list-item [routerLink]="['/settings']" [activated]="isActive('settings')">
    <mat-icon>settings</mat-icon>
  </a>
</mat-nav-list>
