<form *ngIf="form" nz-form [formGroup]="form" class="sign-form" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" placeholder="Email">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Enter your password</mat-label>
    <input formControlName="password" matInput [type]="showPassword ? 'text' : 'password'">
    <button mat-icon-button matSuffix (click)="showPassword = !showPassword" [attr.aria-label]="'Show password'"
      [attr.aria-pressed]="!showPassword">
      <mat-icon>{{showPassword ? 'visibility':'visibility_off' }}</mat-icon>
    </button>
  </mat-form-field>
  <div class="form-submit">
    <button [disabled]="isLoading || form.invalid" mat-flat-button color="primary" type="submit">Sign In</button>
    <span>Or</span>
    <a>Sign up now!</a>
  </div>
</form>
