<form *ngIf="form" nz-form [formGroup]="form" class="login-form" (ngSubmit)="onSubmit()">
  <nz-form-item>
    <nz-form-label nzSpan="6" nzRequired nzFor="email">Name</nz-form-label>
    <nz-form-control nzErrorTip="Please input your Group name!">
      <input type="text" nz-input formControlName="name" placeholder="Group name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzFor="email">Link</nz-form-label>
    <nz-form-control>
      <input type="text" nz-input formControlName="link" placeholder="Link name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label nzSpan="6" nzFor="email">Description</nz-form-label>
    <nz-form-control>
      <textarea nz-input formControlName="description"></textarea>
    </nz-form-control>
  </nz-form-item>
  <nz-row nzJustify="end" nzGutter="8">
    <nz-col>
      <button nz-button (click)="modalRef.close()">Cancel</button>
    </nz-col>
    <nz-col>
      <button nz-button nzType="primary" [disabled]="isLoading || form.invalid">Submit</button>
    </nz-col>
  </nz-row>
</form>
