<!-- <mat-toolbar>
  <form class="search-form" *ngIf="form" [formGroup]="form" (ngSubmit)="onQuery()">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput formControlName="keywords">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</mat-toolbar> -->
<mat-nav-list>
  <mat-list-item *ngFor="let chat of chats;let i=index" [routerLink]="[chat.id,'room']">
    <img matListItemAvatar [src]="chat.picture">
    <h3 matListItemTitle>{{chat.name}}</h3>
    <p matListItemLine *ngIf="chat.lastMessage">
      <span>{{ chat.lastMessage.fromUser.nickName }} - </span>
      <span>{{ chat.lastMessage.text | subString:20 }} </span>
    </p>
    <small matListItemMeta>
      {{chat.updateAt | shortDate}}
    </small>
  </mat-list-item>
</mat-nav-list>
