<cdk-virtual-scroll-viewport #scrollViewport *ngIf="dataSource" appendOnly itemSize="auto" class="message-viewport"
  cdkScrollable>
  <div class="message-loading" *ngIf="dataSource.isLoading">
    <mat-spinner diameter="24"></mat-spinner>
  </div>
  <!-- <div class="message-list">
    <div *cdkVirtualFor="let item of dataSource" class="message-item"
      [ngClass]="userId === item.from.userId ? 'message-reverse':''">
      <img class="message-user-avatar" [src]="item.fromUser.picture">
      <div class="message-container">
        <div class="message-from">
          <small>
            {{ item.fromUser?.name | subString:64 }}
          </small>
          <small>
            {{item.createdAt | shortDate}}
          </small>
        </div>
        <div class="message">
          {{ item.text }}
        </div>
      </div>
    </div>
  </div> -->
  <!-- <mat-list>
    <mat-list-item *cdkVirtualFor="let item of dataSource">
      <img matListItemAvatar [src]="item.fromUser.picture">
      <div matListItemTitle>{{item.fromUser?.name | subString:32}}</div>
      <p matListItemLine> 
        {{ item.text }}
      </p>
    </mat-list-item>
  </mat-list> -->
  <div class="messages">
    <mat-card *cdkVirtualFor="let item of dataSource" appearance="outlined" [ngClass]="userId === item.from ? 'reverse-card':''">
      <mat-card-header>
        <img mat-card-avatar [src]="item.fromUser.picture">
        <mat-card-title>
          <small>{{item.fromUser?.name | subString:32}}</small>
        </mat-card-title>
        <mat-card-subtitle>
          <small>{{item.createdAt | date }} </small>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        {{ item.text }}
      </mat-card-content>
    </mat-card>
  </div>
</cdk-virtual-scroll-viewport>
