@use '@angular/material' as mat;
@use '@angular/material-experimental' as matx;

@include mat.core();

// Create a theme with the specified color type and density.
@function create-theme($type: light, $density: 0) {
  @return matx.define-theme((color: (theme-type: $type,
        primary: matx.$m3-green-palette,
        tertiary: matx.$m3-violet-palette,
      ),
      density: (scale: $density ),
    ));
}

// Define the default (light) theme.
$light-theme: create-theme($type: light);

// Create our dark theme.
$dark-theme: create-theme($type: dark);

.dark-theme {
  @include mat.all-component-themes($dark-theme);
}

.light-theme {
  @include mat.all-component-themes($light-theme);
}

html,
body {
  height: 100vh;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
  --default-gap: 8px;
  --default-padding: 8px;
}

.spacer {
  flex: 1 1 auto;
}