<button nz-button (click)="onEditGroupChat()">New Group Chat</button>
<nz-list [nzLoading]="isLoading">
  <nz-list-item *ngFor="let item of list">
    <nz-list-item-meta>
      <nz-list-item-meta-avatar nzSrc="https://zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png">
      </nz-list-item-meta-avatar>
      <nz-list-item-meta-title>
        <a [routerLink]="[item.id,'room']">{{ item.groupInfo.name }}</a>
      </nz-list-item-meta-title>
      <nz-list-item-meta-description>
        {{ item.groupInfo.description }}
      </nz-list-item-meta-description>
    </nz-list-item-meta>
  </nz-list-item>
  <nz-list-empty *ngIf="list.length === 0"></nz-list-empty>
</nz-list>
